html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

h1,h2,h3,h4,h5 {
  font-family: $headings-font;
}

h3 {
  font-size: $h3-size;
}

input[type="file" i] {
  color: red;
}

body {
  font-family: $body-font2;
  font-weight: 200;
  font-style: normal;
}

p {
  color: $white;
  font-family: $body-font2;
  font-weight: 200;
  font-style: normal;
}

h2 {
  font-size: $h2-size;
}

h3 {
  color: $orange;
}

#slugPrefix {
  display: none;
}

button.btn-primary{
  width: 170px;
  margin-right: 2%;
  color: $white;
  background: $orange;
  border: none;
}

button:hover {
  transition: 1s;
}

.searchContainer {
  display: grid;
  grid-template-rows: 100% 100%;
}

.searchField {
  margin: 0 auto;
  margin-top: 5%;
  background: none;
  opacity: 0.8;
  width: 500px;
}

#searchBar {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border-color: $darkblue;
}

div.res {
  color: white;
}

.icons {
  width: 30%;
  height: 100%;
  position: relative;
}

.fa-facebook {
  position: absolute;
  top: 36%;
  left: 5%;
  font-size: 32px;
  color: white;
}

.fa-twitter {
  position: absolute;
  top: 36%;
  left: 41%;
  font-size: 32px;
  color: white;
}

.fa-instagram {
  position: absolute;
  top: 36%;
  left: 23%;
  font-size: 32px;
  color: white;
}

.fa-hiking {
  position: absolute;
  font-size: 42px;
  color: $orange;
  left: 50%;
  top: 30%;
}

.fa-walking {
  position: absolute;
  font-size: 42px;
  color: $orange;
  left: 50%;
  top: 30%;
}

#experienceH3 {
  width: 100%;
  background: $grey;
  color: $black;
  margin-bottom: 0;
  padding-top: 2.5%;
  text-align: center;
}

.container-fluid {
  margin: 0;
  padding:0;
  width: 100%;
}

.row {
  margin-right: 0;
}

.block {
  width: 100%;
  position: relative;
  padding-right: 0;
}

.block__image {
  width: 100%;
}

.block__elem {
  height: 110px;
  width: 60%;
  background: rgba(30, 30, 30, 0.9);
  position: absolute;
  top: 30%;
  left: 20%;
  border-radius: 8px;
}

.block__header {
  color: $white;
  padding: 15px;
  padding-left: 30px;
}

.flipBlock {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.flipBlock button {
  position: absolute;
  left: 0;
  bottom: 0;
}

.flipBlock__image {
  width: 300px;
}

.flipBlock__textBox {
  width: 300px;
  height: 100px;
  background: $lightblue;
  position: relative;
}

div.react-card-flip {
  width: 100%;
}

.hikeBlock {
  background: $grey;
  margin-left: 0;
  margin-right: 0;
}

.hikeBlock__elem {
  background: black;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 5%;
  position: relative;
}

.hikeBlock__elem:hover {
  transition: 1s;
}

.hikeBlock__elem:first-child {
  margin-right: 1%;
}

.hikeBlock__elem:last-child {
  margin-left: 1%;
}

.hikeBlock__image {
  width: 100%;
}

.hikeBlock__textBox {
  width: 100%;
  height: 100px;
  background: $lightblue;
  position: relative;
}

.hikeBlock__textBoxFaded {
  opacity: 0.7;
}

.overLayText {
  display: none;
  position: absolute;
  top: 40%;
  left: 3%;
  transition: 1s;
  font-size: 0.8rem;
  width: 94%;
  margin: 0 auto;
}

.overLayText2 {
  display: none;
  position: absolute;
  top: 40%;
  left: 3%;
  transition: 1s;
  font-size: 0.8rem;
  width: 94%;
  margin: 0 auto;
}

.red {
  opacity: 0.3;
}

.hotelBlock {
  height: 600px;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  background: $darkblue;
}

.hotelBlock__elem:first-child {
  padding-top: 100px;
  position: relative;
}

.hotelBlock__elem:last-child {
  padding-top: 200px;
}

.hotelBlock__image {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: absolute;
  right: 10%;
}

.hotelBlock__para {
  width: 60%;
}

.hotelLanding__image {
  height: 350px;
}

.loginLanding {
  width: 100%;
  position: relative;
  padding-right: 0;
  background: $darkblue;
}

.loginLanding__image {
  width: 100%;
  height: 350px;
}

h2.loginLanding__header {
  color: #F7941D;
  position: relative;
  text-align: center;
  top: 30%;
  text-transform: uppercase;
}

.loginLanding__elem {
  height: 100px;
  width: 40%;
  background: rgba(30, 30, 30, 0.9);
  position: absolute;
  top: 20.3%;
  left: 30%;
  border-radius: 8px;
}

.loginLanding h3 {
  color: $white;
  width: 100%;
  background: #0C518A;
  margin-bottom: 0;
  padding-top: 2.5%;
  padding-bottom: 2%;
  text-align: center;
  text-transform: uppercase;
}

footer {
  width: 100%;
  height: 130px;
  background: $lightblue;
}

@include media-breakpoint-down(xxl) {
  nav a{
    width: 50%;
  }

  .block__elem {
    height: 150px;
  }

  .hotelBlock {
    height: 500px;
  }
  .hotelBlock__elem:first-child {
    padding-top: 20px;
    margin-top: 1%;
    margin-left: 0;
  }

  .hotelBlock__elem:last-child {
    padding-top: 90px;
    padding-left: 10%;
    margin-left: 0;
  }

  .hotelBlock__heading {
    margin-left: 0;
  }

  .hotelBlock__para {
    width: 40%;
  }

  .hotelBlock__image {
    width: 400px;
    height: 400px;
    margin-top: 5%;
  }

  footer {
    margin-top: 200px;
  }
}

@include media-breakpoint-down(xxl) {
  div.contactLanding__elem {
    top: 19%;
  }

  .loginLanding__elem {
    top: 17.2%;
  }
}

@include media-breakpoint-down(xxl) {
  div.contactLanding__elem {
    top: 15%;
  }
}

@include media-breakpoint-down(lg) {
  .block__elem {
    height: 150px;
    top: 20%;
    left: 10%;
    width: 80%;
  }

  .block__header {
    color: $white;
    padding: 15px;
    padding-left: 30px;
  }

  .hotelBlock {
    height: 370px;
  }

  .hikeBlock__elem {
    width: 40%;
  }

  .hotelBlock__elem:first-child {
    padding-top: 0;
    margin-top: 0;
  }

  .hotelBlock__elem:last-child {
    padding-top: 0;
    padding-left: 5%;
  }

  .hotelBlock__image {
    height: 300px;
    width: 300px;
  }

  div.hotels__textDiv {
    width: 300px;
    height: 350px;
  }

  div.hotelLanding__elem {
    width: 50%;
    left: 25%;
  }

  div.contactLanding__elem {
    width: 50%;
    left: 25%;
  }

  .hotels {
    --bs-gutter-x: 0;
  }

  .fa-facebook {
    position: absolute;
    top: 38%;
    left: 8%;
    font-size: 32px;
    color: white;
  }

  .fa-twitter {
    position: absolute;
    top: 38%;
    left: 49%;
    font-size: 32px;
    color: white;
  }

  .fa-instagram {
    position: absolute;
    top: 38%;
    left: 29%;
    font-size: 32px;
    color: white;
  }

  div.contactLanding__elem {
    width: 60%;
    left: 20%;
    top: 15.3%;
  }

  div.loginLanding__elem {
    width: 60%;
    left: 20%;
    top: 17.5%;
  }

}

@include media-breakpoint-down(md) {
  .block__elem {
    height: 170px;
    width: 90%;
    top: 10%;
    left: 5%;
  }
  .block__header {
    padding-left: 2%;
  }

  div.contactLanding__elem {
    width: 60%;
    top: 19.5%;
  }

div.contactLanding__header {
  position: relative;
  display: block;
  margin: 0 auto;
  }
}

@include media-breakpoint-down(sm) {
  nav {
    display: block;
  }

  .searchContainer {
    position: absolute;
    top: -120%;
    left: 30%;
  }

  .block__elem {
    width: 100%;
    height: 180px;
    left: 0;
    top: 65%;
    bottom: 0;
    background: rgba(30, 30, 30, 0.9);
  }

  .block__header {
    padding-left: 15px;
  }

  .block {
    height: 500px;
    background: $darkblue;
  }

  #experienceH3 {
    background: none;
    padding-bottom: 30%;
    position: absolute;
    top: 100%;
  }

  .icons {
    width: 100%;
    margin-left: 23%;
  }

  .hotelBlock {
    height: 650px;
  }

  div.hotels__textDiv {
    width: 300px;
    height: 400px;
  }

  div.hotelLanding__elem {
    width: 90%;
    left: 5%;
    top: 40%;
  }

  div.hikeBlock__elem {
    margin-bottom: 0;
  }

  div.hikeBlock__elem:first-child {
    margin-left: 0;
  }

  div.hikeBlock__elem:last-child {
    margin-left: 0;
  }

  div.hotelBlock {
    margin-left: 0;
  }

  .hotelBlock__image {
    left: 11%;
  }

  .fa-facebook {
    position: absolute;
    top: 38%;
    left: 2%;
    font-size: 32px;
    color: white;
  }

  .fa-twitter {
    position: absolute;
    top: 38%;
    left: 43%;
    font-size: 32px;
    color: white;
  }

  .fa-instagram {
    position: absolute;
    top: 38%;
    left: 23%;
    font-size: 32px;
    color: white;
  }

  .hotelLanding__image {
    height: 200px;
  }

  h2.loginLanding__header {
    position: relative;
    top: 9%;
    display: block;
    margin: 0 auto;
    }

  .loginLanding__image {
    height: 200px;
  }

  div.loginLanding__elem {
    width: 90%;
    height: 50px;
    background: rgba(30, 30, 30, 0.9);
    position: absolute;
    top: 12.6%;
    left: 6%;
    border-radius: 8px;
  }

  h2.loginLanding__header {
    position: relative;
    top: 9%;
    display: block;
    margin: 0 auto;
    }

  h2.contactLanding__header {
    position: relative;
    top: 9%;
    display: block;
    margin: 0 auto;
    }

  div.contactLanding__elem {
    width: 90%;
    height: 50px;
    background: rgba(30, 30, 30, 0.9);
    position: absolute;
    top: 10%;
    left: 6%;
    border-radius: 8px;
  }
}

@include media-breakpoint-only(xs) {
  div.row #search{
   --bs-gutter-x: 0.01rem;
  }

  .hikeBlock__elem {
    width: 100%;
  }

  .hikeBlock__elem:last-child {
    margin-top: 0;
  }

  .searchContainer {
    position: absolute;
    top: 100%;
    left: 10%;
    width: 80%;
  }
  .searchField {
    margin-top: 30%;
    width: 100%;
  }

  div.resContainer {
    background: black;
  }

  .block__elem {
    top: 5%;
    height: 150px;
    background: rgba(30, 30, 30, 0.7);
  }

  .block__header {
    font-size: 1.4rem;
    margin-left: 0;
    text-align: center;
  }

  #search {
    height: 350px;
  }

  #searchBar {
    margin-top: 0;
    width: 100%;
  }

  .hotelBlock {
    height: 750px;
  }

  button.btn-primary {
    margin-left: 27%;
  }

  .hotelBlock {
    height: 650px;
    margin-left: 1%;
  }

  .hotelBlock__elem:last-child {
    padding-top: 0;
    padding-left: 0;
  }

  .hotelBlock__image {
    left: 10%;
  }

  p.hotelBlock__para {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 5%;
    padding-top: 2%;
  }

  #enquiryBtn {
    padding-bottom: 5%;
  }

  .specificInfo {
    padding-bottom: 10%;
  }
}
