.messages {
  background: $darkblue;
  padding-bottom: 5%;
}

.adminLinks {
  width: 30%;
  padding-right: 0;
}

.adminLinks:last-of-type {
  padding-left: 0;
}

.messages__textDiv {
  background: $white;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 1%;
  padding-left: 0;
  padding-right: 0;
  width: 400px;
}

.messagesH3 {
  background: $lightblue;
  color: $white;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 0;
  text-align: center;
}

.messages__header {
  margin-top: 5%;
  margin-left: 5%;
}

.messages__hr {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5%;
}

.messages__text {
  margin-left: 5%;
  color: $black;
  width: 90%;
}

div.messages.row {
  --bs-gutter-x: 0;
}

.labelSpan {
  font-weight: bold;
}

@include media-breakpoint-down(xxl) {

}

@include media-breakpoint-down(lg) {

}

@include media-breakpoint-down(md) {


}

@include media-breakpoint-down(sm) {
  .messages__textDiv:first-of-type {
    margin-top: 0;
  }
}

@include media-breakpoint-only(xs) {

}
