/* Colors */
$lightblue: #2787D6;
$darkblue: #0C518A;
$orange: #F7941D;
$grey: #E3E3E3;
$white: #FDFDFD;
$black: #1E1E1E;

/* Font Sizes */
$menu-font-size: 14px;
$h1-size: 26px;
$h2-size: 32px;
$button-font-size: 13px;
$body-font-size: 16px;
$placeholder-font-size: 16px;
$footer-font-size: 11px;

/* Fonts */
$headings-font: yrsa, serif;
$body-font: acumin-pro-wide, sans-serif;
